* {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  background-color: #f7f8fa;
  padding: 10px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#app {
  height: 100%;
}